/*
* Author: Matthew Chaplin
* Bayer Onboarding
* Date: 4/6/19
*/

.stepper {
    display: flex;
    flex-direction: column;
    border: 10px red;
    width: 93%;
    padding-left: 4%;
}

.toolbar {
    flex-grow: 1;
    z-index: 2;
    justify-content: flex-end;
}