.editWidget {
    width: 80%;
    height: 70%;
    top: 15%;
    left: 10%;
    position: absolute;
    padding-top: 1%;
}

.noScroll {
    position: fixed;
    left: 66.6%;
}

.progress-list {
    position: fixed;
    top: 5vh;
}