.searchResultsTable {
    display: flex;
    position: absolute;
    top: 10%;
    width: 95%;
    left: 2.5%;
}

.interiorTable {    
    width:100%;
    display:flex;
    table-layout: fixed;
}

.interiorTable :hover {
    cursor: pointer;
}

.table {
    width:100%;
    min-width: 100%;
    display: flex;
}

.tableContainer {
    display: flex;
    position: absolute;
    top: 10%;
    width: 95%;
    left: 2.5%;
    min-width: 95%;
}

