.searchBarWidget {
    display: flex;
    position: relative;
    width: 60vw;
    height: 9vh;
    top: -4%;
    left: 5%;
}

.searchBar {
    display: flex;
    width: 100%;
    margin: 2%;
}

.searchInput {
    display: flex;
    width: 80%;
    padding-right: 1%;
}

.searchWidgetButton {
    padding: 0 12px !important;
    margin-right: 1% !important;
}

.filterWidget {
    width: 50%;
    height: 70%;
    top: 15%;
    left: 25%;
    position: absolute;
}

.filterHeaderText {
    font-family: 'Roboto';
    font-size: 2vw;
    display: flex;
    position: relative;
    top: 0%;
    width: 90%;
    height: 10%;
    left: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.headerDivider {
    width: 95%;
    left: 2.5%;
    position: relative;
}

.dateRangeHeader, .columnFilterHeader {
    font-family: 'Roboto';
    font-size: 1.5vw;
    display: flex;
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center; 
    margin-bottom: 3%;
}

.dateRangeHeader {
    margin-top: 3%;
}

.headerGrid {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
}