.upcomingDatesWidget {
    display: flex;
    position: absolute;
    top: 9.9%;
    right: 2%;
    height: 83%;
    width: 29%; 
}

.upcomingDatesHeader {
    display: flex;
    position: absolute;
    top: -17%;
    width: 90%;
    height: 9.1vh;
    left: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.upcomingDatesTable {
    display: flex;
    position: absolute;
    table-layout: fixed;
}

.upcomingDatesTableContainer {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
}

.headerText {
    font-family: 'Roboto';
    font-size: 2vw;
}

.loadingSpinner {
    margin: auto;
}