.expandedView {
    display: flex;
    position: absolute;   
}

.popup {
   
    table-layout: fixed;
    width:100%;
    display:flex;

  
}

#outerdiv
{
    display:flex;
    
}
#rightdiv
{
  
    float:right;
    overflow-anchor: true;
   
 
}

#leftdiv
{
    padding-right:10%;
    overflow-y:scroll;
    
    float:left;
    
  
    
   

}



