.gridContainer2 {
    overflow: auto;
    height: 90%;
    left: 2.5%;
    width: 95% !important;
    position: absolute;
}

.submitButton {
    width: 30%;
    display: flex;
    position: absolute !important;
    height: 6%;
    bottom: 2%;
    left: 35%;
}